[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "emacs.d/proof-general"]
	path = emacs.d/proof-general
	url = git@github.com:cpitclaudel/proof-general.git
[submodule "emacs.d/emacs-color-theme-solarized"]
	path = emacs.d/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/smyx"]
	path = emacs.d/smyx
	url = git@github.com:kaushalmodi/smyx.git
[submodule "emacs.d/PG"]
	path = emacs.d/PG
	url = git@github.com:ProofGeneral/PG.git
