# .zimrc
# See https://zimfw.sh/docs/ for more info

MODDIR=~/.config/zsh/modules

zmodule completion
zmodule environment
zmodule eriner       # [Theme](https://github.com/zimfw/eriner)
zmodule exa
zmodule fzf
zmodule git-info
zmodule input
# zmodule python-virtualenvwrapper/virtualenvwrapper
zmodule prompt-pwd
zmodule trystan2k/zsh-tab-title
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting

zmodule $MODDIR/bat
zmodule $MODDIR/delta
zmodule $MODDIR/editor
zmodule $MODDIR/fzf-zsh -s completion.zsh -s key-bindings.zsh
zmodule $MODDIR/git
zmodule $MODDIR/gitignore
zmodule $MODDIR/go
zmodule $MODDIR/graphite
zmodule $MODDIR/ls-tools
zmodule $MODDIR/python
zmodule $MODDIR/voltus
zmodule $MODDIR/z
