;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together to create
;; the final set of keys. You can modify these diffs to either add or
;; subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {}

     :editor {
              "ctrl-space" [:show-commandbar]

;;               "alt-w" [:editor.watch.watch-selection]
;;               "alt-shift-w" [:editor.watch.unwatch]

;;               "ctrl-a" [:editor.line-start-smart]
;;               "ctrl-e" [:editor.line-end]
;;               "ctrl-up" [(:emacs.keymap-cmd "Ctrl-Up")]
;;               "ctrl-down" [(:emacs.keymap-cmd "Ctrl-Down")]

;;               "ctrl-t" [(:emacs.keymap-cmd "Ctrl-T")]
;;               "tab" [:smart-indent-selection]

;;               "ctrl-tab" [:tabs.next]
;;               "ctrl-x ctrl-k" [:tabs.close]

;;               "ctrl-[" [:tabset.prev]
;;               "ctrl-]" [:tabset.next]
;;               "ctrl-shift-w" [:tabset.close]
;;               "ctrl-d" [:tabset.new]

;;               "ctrl-k" [(:emacs.keymap-cmd "Ctrl-K")]
;;               "ctrl-y" [(:emacs.keymap-cmd "Ctrl-Y")]
;;               "ctrl-w" [(:emacs.keymap-cmd "Ctrl-W")]
;;               ;; May not work if I'm not using ALL the emacs stuff...
;;               ;; should consider using emacs mode, with things turned off...


;;               "ctrl-s" [:find.fill-selection :find.show]
;;               "ctrl-r" [:find.prev]

;;               "ctrl-/" [:editor.undo]
;;               "ctrl-shift-/" [:editor.redo]

;;               "ctrl-x ctrl-s" [:save]

              }
     }
 }

{:- {:app {}

     }
}
